{% extends 'base.html.twig' %}

{% block carousel %}{% endblock %}

{% block title %}Accueil - eCommerce{% endblock %}

{% block content %}

<!-- Three columns of text below the carousel -->
        <h2 class="featurette-heading">Nos meilleurs ventes</h2>

        <h4 class="text-muted">Découvrez les articles les plus vendus.</h4>
        <div class="row">
            {% for product in products %}
                <div class="col-md-3">
                    {% include 'product/single_product.html.twig' %}
                </div>
            {% endfor %}
        </div>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
        
            <ol class="carousel-indicators">
                {% for key,product in products %}
                    <li data-target="#myCarousel" data-slide-to="{{key}}" {% if key == 0 %} class="active" {% endif %} ></li>
                {% endfor %}
            </ol>

            {# <div class="carousel-inner">
                {% for key,product in products %}

                    <div class="carousel-item {% if key == 0 %} active {% endif %}">
                        <div class="col-md-3">
                            {% include 'product/single_product.html.twig' %}
                        </div>
                    </div>
                {% endfor %}
            </div> #}

            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            
        </div>


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Une équipe de profesionnels <span class="text-muted"> au grand savoir-faire.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('assets/img/first.jpg') }}" alt="Un savoir-faire fantastique" class="img-fluid">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Venez nous rencontrer dans nos <span class="text-muted">boutiques en France.</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="{{ asset('assets/img/second.jpg') }}" alt="Boutique ouverte toute l'année" class="img-fluid">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

{% endblock %}