{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block content %}
        
    <div class="row">
        
        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">{{message}}</div>
        {% endfor %}

        <div class="col-md-6">
            <h2 class="featurette-heading">N'hésitez pas à nous contacter</h2>
            {{form(form)}}
        </div>
        <div class="col-md-6">
            <h2 class="featurette-heading"><strong>La Boutique eCommerce - Symfony</strong></h2>
            <hr>
            <h5 class="text-muted">
                Téléphone: 0606600606 <br>
                Mail: blabla@gmail.com <br>
                Adresse : 18 rue des Lilas , 75000 - Paris
            </h5>
        </div>
    </div>
    
{% endblock %}
